body {
	background-color: #D3D3D3;
	font-family: arial;
	text-align: center;
	margin: 0;
}
.content {
	margin: 0 auto;
	
}
table {
	border-collapse: collapse;
	width: 70%;
	margin: 0 auto;
	border: 1px solid black;
	border-style: hidden;
}
td {
	text-align: left;
	padding: 30px;
	left: 200px;
}
tr {
	border: 5px solid black;
	padding: 1rem;
}
.form {
	margin-top: 20px;
}
img {
	max-width: 100%;
	height: auto;
	float: right;
}
.container {
	width: 80%;
	margin: 0 auto;
}
header {
	background: #696969;
}
nav {
	float: right;
}
header::after {
	content: '';
	display: table;
	clear: both;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none; 	
}
nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 25px;
	padding-bottom: 25px;
	position: relative;
}
nav a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
nav a:hover {
	color: #D3D3D3;
}
nav a::before {
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #000;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
}
nav a:hover::before {
	width: 100%;
}
.login-form{
	width: 360px;
	background: #f1f1f1;
	height: 180px;
	padding: 80px 40px;
	border-radius: 20px;
	position: relative;
	margin: 0 auto
}
.register-form{
	width: 360px;
	background: #f1f1f1;
	height: 350px;
	padding: 80px 40px;
	border-radius: 20px;
	position: relative;
	margin: 0 auto
}
.account-form{
	width: 360px;
	background: #f1f1f1;
	height: 190px;
	padding: 80px 40px;
	border-radius: 20px;
	position: relative;
	margin: 0 auto
}
.exercise-form{
	width: 360px;
	background: #f1f1f1;
	height: 400px;
	padding: 80px 40px;
	border-radius: 20px;
	position: relative;
	margin: 0 auto
}
