body {
	background-color: #5abced;
	font-family: sans-serif;
	text-align: center;
	margin: 0;
}
.navbar {
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
	display: block;
	float: left;
	background-color: #3491bf;
	padding: 20px 30px;
}
.navbar a {
	padding-right: 30px;
	font-weight: bold;
}
.navbar a:hover {
	background-color: #5abced;
	display: inline-block; 
	padding: 5px;
}
.content {
	margin: 0 auto;
	
}

table {
	border-collapse: collapse;
	width: 70%;
	margin: 0 auto;
	border: 1px solid black;
}
td {
	text-align: left;
	padding: 30px;
	left: 200px;
}
.form {
	margin-top: 20px;
}
a {
	text-decoration: none;
}
img {
	width: 50%;
	height: 50%;
	float: right;
}