{% extends "layout.html" %}
{% block bc %}
<h1>Add exercises to your workout:</h1>
	<div class="form">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
			{{ form.exercise_name.label }}
			{% if form.exercise_name.errors %}
			{{ form.exercise_name }}
			<div class="error">
				{% for error in form.exercise_name.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
				{{ form.exercise_name }}
			{% endif %}
			</div>
			<br>
			<div class="form-group">
			{{ form.muscle_group.label }}
			{% if form.muscle_group.errors %}
			{{ form.muscle_group }}
			<div class="error">
				{% for error in form.muscle_group.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
				{{ form.muscle_group }}
			{% endif %}
			</div>
			<br>
			<div class="form-group">
			{{ form.sets.label }}
			{% if form.sets.errors %}
			{{ form.sets }}
			<div class="error">
				{% for error in form.sets.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
				{{ form.sets }}
			{% endif %}
			</div>
			<br>
			<div class="form-group">
			{{ form.reps.label }}
			{% if form.reps.errors %}
			{{ form.reps }}
			<div class="error">
				{% for error in form.reps.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
				{{ form.reps }}
			{% endif %}
			</div>
			<br>
			<div class="form-group">
			{{ form.description.label }}
			{% if form.description.errors %}
			{{ form.description }}
			<div class="error">
				{% for error in form.description.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
				{{ form.description }}
			{% endif %}
			</div>
			<br>
			{{ form.submit }}
		</form>
	</div>
{% endblock bc %}  