{% extends "layout.html" %}
{% block bc %}
<div class="content">
	<h1>Workout Page</h1>
	<h4>You can view your custom workout here!</h4>
		<table>
			<tr>
				<th>Exercise</th>
				<th>Sets</th>
				<th>Reps</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
			<tr>
				{% for exercise in exercises %}
				<td>{{ exercise.exercise_name }}</td>
				<td>{{ exercise.sets }}</td>
				<td>{{ exercise.reps }}</td>
				<td>{{ exercise.description }}</td>
				<td>
					<a href="/delete/{{ exercise.id }}">Delete</a>
					<a href="">Update</a>
				</td>
				{% endfor %}
			</tr>
		</table>
</div>
	
{% endblock bc %}