{% extends "layout.html" %}
{% block bc %}
<div class="content">
	<h1>Exercise Page</h1>
	<h4>You can view your exercises here!</h4>
	<form method="POST" action="">
		<div class="form-group">
			{{ form.muscle_group.label }}
			{% if form.muscle_group.errors %}
			{{ form.muscle_group }}
			<div class="error">
				{% for error in form.muscle_group.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
				{{ form.muscle_group }}
			{% endif %}
			</div>
			<br>
			{{ form.submit }}
			<br>
			<p></p>
	</form>
		<table align="center" style="table-layout: fixed; width: 80%">
			<tr>
				{% for exercise in exercises %}
				<td style="word-wrap: break-word;">
					<b>Exercise:</b> {{ exercise.exercise_name }} <br><br>
					<b>Sets:</b> {{ exercise.sets }} <br><br>
					<b>Reps:</b> {{ exercise.reps }} <br><br>
					<b>Description:</b> {{ exercise.description }}<br><br>
					<a href="/delete/{{ exercise.id }}" input type="submit" onclick="clicked(event)"><button type="button">Delete</button></a> <a href="/update/{{ exercise.id }}" input type="submit"><button type="button">Update</button></a><p></p> 
				</td>
				<td>
					<img src="{{ exercise.image }}">
				</td>
			</tr>
			{% endfor %}
		</table>
		<br>
		<br>
</div>

<script type="text/javascript">
	function clicked(e)
	{
		if (!confirm('Are you sure you want to delete exercise!'))e.preventDefault();
	}
</script>
	
{% endblock bc %}