{% extends "layout.html" %}
{% block bc %}
<div class="content">
	<h1>Workout Page</h1>
	<h4>You can view your custom workout here!</h4>
	<form method="POST" action="">
		<div class="form-group">
			{{ form.muscle_group.label }}
			{% if form.muscle_group.errors %}
			{{ form.muscle_group }}
			<div class="error">
				{% for error in form.muscle_group.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
				{{ form.muscle_group }}
			{% endif %}
			</div>
			<br>
			{{ form.submit }}
			<br>
			<p></p>
	</form>
		<table>
			<tr>
				{% for exercise in exercises %}
				<td><b>Exercise:</b> {{ exercise.exercise_name }} <br><br>
					<b>Sets:</b> {{ exercise.sets }} <br><br>
					<b>Reps:</b> {{ exercise.reps }} <br><br>
					<b>Description:</b> {{ exercise.description }}<p></p> </td>
				<td>
					*Image*
				</td>
				<td>
					<a href="/delete/{{ exercise.id }}">Delete</a> <br><br>
					<a href="/update/{{ exercise.id }}">Update</a>
				</td>
			</tr>
			{% endfor %}
		</table>
</div>
	
{% endblock bc %}