{% extends "layout.html" %}
{% block bc %}
<h1>Edit Sets & Reps:</h1>
	<div class="form">
		<form action="/update/{{ exercise.id }}", method="POST">
			{{ form.hidden_tag() }}
			<div class="form-group">
			{{ form.sets.label }}
			{% if form.sets.errors %}
			{{ form.sets }}
			<div class="error">
				{% for error in form.sets.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
				{{ form.sets }}
			{% endif %}
			</div>
			<br>
			<div class="form-group">
			{{ form.reps.label }}
			{% if form.reps.errors %}
			{{ form.reps }}
			<div class="error">
				{% for error in form.reps.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
				{{ form.reps }}
			{% endif %}
			</div>
			<br>
			{{ form.submit }}
			<br>
		</form>
	</div>
{% endblock bc %}  